.api-list-container {
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.api-ticket-card {
    margin: 1em;
    display: flex;
    background-color: #c9fdd7;
    border-radius: 12px;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-around;
    max-width: 450px;
}

.api-ticket-card p {
    display: flex;
    flex-wrap: wrap;
}

.add-item-button {
    margin: 1em;
    padding: 5px;
    border-radius: 5px;
    background-color: #c9fdd7;
    border: 3px solid #79d1c3;
}

.search-button {
    margin: 1em;
    padding: 5px;
    border-radius: 5px;
    background-color: #c9fdd7;
    border: 3px solid #79d1c3;
}